@media(max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .packages
    max-width: 990px
    &__card
      width: 300px
      height: 500px
      &-about
        height: 179px
        margin-bottom: 37px
      &-room--1
        margin-bottom: 25px
      &--1
        width: 640px
  .footer
    &__input
      &-group
        flex-basis: 100%
@media(max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      .navbar
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &__slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 579px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .packages
    max-width: 730px
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
    &__card
      width: 100%
      height: 500px
      &-room--1
        margin-bottom: 24px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
      margin-bottom: 56px
    &__input
      &-group
        flex-basis: 47%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
    &__information
      &-clear
        display: none
@media(max-width: 768px)
  .reviews
    padding: 16px 0 60px 0
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__username
        margin-left: 5px
        margin-bottom: 9px
      &__date
        margin-left: 5px
      &__button
        margin-top: 14px
        &--prev
          left: 1px
        &--next
          right: 0px
  .packages
    max-width: 580px
    width: 92%
    &-title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
    &__card
      width: 100%
      height: 500px
      &-info--1
        padding: 46px 21px 25px 25px
      &-room--1
        margin-bottom: 24px
  .footer
    padding-top: 41px
    padding-bottom: 31px
    &__input
      &-group
        flex-basis: 48%
  .modal
    &__dialog
      overflow: auto
      position: fixed
      max-height: 100%
  .navbar
    &__search
      margin-right: 73px
      margin-top: 5px
      margin-left: auto
    &__user
      margin-right: 2px
      margin-top: 5px
    &-menu
      padding-top: 19px
      padding-bottom: 23px
      padding-left: 14px
      padding-right: 14px
  .hotel-slider
    margin-left: 0
  .hotel
    &-right
      height: 210px
  .booking
    padding: 29px 22px 26px 23px
    height: 100%
  .newsletter
    padding: 82px 0 63px 0
  .activities
    &__title
      margin-bottom: 57px
    &__card
      padding: 24px 110px 24px 27px
  .card
    &__button
      padding: 7px 22px 7px 21px
  .footer
    &__logo
      width: 98px
      margin-top: 0
    &-wrapper
      grid-template-columns: minmax(min-content, 98px) minmax(min-content, 40px) minmax(min-content, 300px) minmax(min-content, 200px) minmax(min-content, 100px) minmax(min-content, 100px)
      grid-row-gap: 47px
      margin-bottom: 59px
    &__social
      &-links
        min-width: 85px
      &-network
        margin-top: 41px
        margin-left: 4px
    &__additional
      margin-left: 15px
    &__legal
      margin-left: 23px
    &__contact
      &-details
        margin-top: -4px
    &__icon
      &-wrapper
        margin-left: 3px
    &__contact
      &-form
        margin-top: -8px
    &__title
      &--mb
        &-3
          margin-bottom: 27px
    &__form
      margin-top: 35px
      max-width: 539px
    &__input
      &-group
        flex-basis: 47.1%
    &__button
      padding: 17px
@media(max-width: 760px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &__mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          margin-right: 0
    &__search
      margin-bottom: 16px
    &__user
      flex-direction: column
      align-items: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 9px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          margin-bottom: 17px
          &--visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
      &:hover
        background-color: transparent
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
        margin-bottom: 0px
  .search
    &__input
      width: 245px
      margin-bottom: 39px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &__slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
    height: 213px
  .map
    width: 100%
    background-image: url(../img/big-map.jpg)
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 16px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -77px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -77px
  .activities
    padding-top: 40px
    padding-bottom: 40px
  .card
    width: 48%
    height: 255px
  .footer
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 630px)
  .packages
    padding-top: 40px
    padding-bottom: 60px
    max-width: 580px
    &-title
      margin-bottom: 56px
      font-size: 30px
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, 1fr)
      grid-column-gap: 0
    &__card
      grid-column-start: 1
      width: 100%
      &-stars
        display: none
      &-about
        display: none
      &--1
        flex-direction: column
      &-image--1
        height: 250px
        width: 100%
      &-img--1
        height: 250px
      &-info--1
        height: 350px
        padding-top: 30px
        padding-left: 32px
        padding-right: 21px
        width: auto
      &-room
        &--1
          margin-bottom: 24px
      &-offer
        &--1
          font-size: 8px
          line-height: 10px
          padding: 4px 9px
@media(max-width: 576px)
  .logo
    width: 95px
  .hotel
    &__slider
      margin-bottom: 20px
      height: 250px
  .subscribe
    max-width: 280px
    &__input
      padding-left: 20px
  .newsletter
    padding: 67px 0 64px 0
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 44px
    &__title
      margin-bottom: 25px
  .packages
    &-title
      font-size: 24px
      line-height: 30px
  .reviews
    padding: 24px 0 50px 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
  .activities
    padding-top: 28px
    padding-bottom: 36px
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-bottom: 37px
    &__card
      margin-bottom: 23px
  .card
    width: 100%
    &:nth-child(1)
      order: 1
    &:nth-child(2)
      order: 3
    &:nth-child(3)
      order: 2
    &:nth-child(4)
      order: 4
  .footer
    padding-top: 40px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 29px
      margin-bottom: 29px
    &__message
      margin-bottom: 15px
    &__logo
      grid-row: 1
      grid-column: 1
    &__title
      &--inline
        margin-bottom: 20px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        display: flex
        flex-direction: column
        margin-top: 10px
        margin-left: 0px
    &__additional
      grid-row: 4
      grid-column: 1
      margin-left: 0
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        max-width: auto
        margin-top: -6px
      &-form
        grid-row: 7
        grid-column: 1
    &__input
      &-group
        max-width: auto
    &__message
      max-width: auto

    &__send
      flex-direction: column
      align-items: flex-start
    &__button
      order: 10
    &__info
      margin-bottom: 15px
    &__information
      flex-direction: column
      align-items: flex-start
      &-link
        margin-bottom: 10px
    &__information
      &-item
        margin-left: 1px
        margin-right: 1px
  .modal
    &__dialog
      max-width: 90%
      padding-left: 30px
      padding-right: 30px
      padding-bottom: 18px
    &__button
      margin-bottom: 7px
      margin-right: 15px
    &__info
      margin-bottom: 7px
      margin-top: 7px
@media(max-width: 320px)
  .container
    max-width: 279px
  .subscribe
    max-width: 100%
  .hotel
    padding-top: 10px
    padding-bottom: 40px
    &-right
      min-height: 403px
    &__slider
      margin-bottom: 20px
      height: 179px
    &-wrapper
    &-grid
      margin-top: 18px
  .map
    height: 172px
  .stars
    margin-right: 17px
    margin-top: -1px
  .booking
    height: 210px
  .newsletter
    padding: 67px 0 64px 7px
  .subscribe
    max-width: 98%
  .reviews
    padding-top: 40px
    padding-bottom: 50px
    &__title
      max-width: 245px
      margin: 0 auto 42px auto
    &-slider
      &__username
        margin-left: 0
      &__button
        &--prev
          margin-left: -92px
        &--next
          margin-right: -87px
  .footer
    &__icon-wrapper
      margin-left: 0px
      min-width: 30px
    &__item
      &--mb
        &-2
          margin-bottom: 22px
    &__contact
      &-form
        margin-top: 12px
    &__form
      margin-top: 0
    &__title
      &--mb
        &-3
          margin-bottom: 28px
      &-form
        margin-top: -9px
        margin-bottom: 15px