.packages
  margin: 0 auto
  padding: 41px 0 70px 0
  width: 100%
  max-width: 1110px
  &-title
    text-align: center
    margin-top: 0
    margin-bottom: 65px
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &-wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-gap: 30px
  &__card
    width: 350px
    height: 500px
    display: flex
    position: relative
    flex-direction: column
    justify-content: flex-start
    background-color: $dark
    border-radius: 8px
    overflow: hidden
    color: $light
    &--1
      width: 730px
      grid-column: 1 / span 2
      flex-direction: row
    &-image
      height: 250px
      &--1
        height: 500px
        width: 366px
    &-img
      height: 250px
      width: 100%
      object-fit: cover
      &--1
        height: 500px
    &-info
      height: 350px
      padding-top: 30px
      padding-left: 32px
      padding-right: 21px
      padding-bottom: 25px
      &--1
        padding: 46px 21px 0 44px
        width: 364px
    &-stars
      display: flex
      justify-content: space-between
      max-width: 48px
      margin-bottom: 5px

    &-title
      margin-top: 0
      margin-bottom: 23px
      padding-top: 0
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      color: $light
      &--1
        margin-bottom: 27px
    &-about
      height: 182px
      margin-bottom: 17px
      overflow: auto
    &-text
      &-1
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 158.6%
        margin: 0

      // margin-bottom: 44px
    &-room
      margin-bottom: 24px
      &--1
        margin-left: 2px
        margin-bottom: 38px
    &-text
      display: flex
      align-items: center
      margin-bottom: 11px
    &-icon
      margin-right: 14px
    &-description
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
    &-old
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
      // margin-bottom: 5px
      &--1
        margin-left: 2px
    &-sale
      display: flex
      justify-content: space-between
      align-items: center
      &--1
        margin-left: 2px
    &-new
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
    &-button
      max-width: 120px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      padding: 11px 27px 10px 26px
      font-family: Nunito
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 19px
      background: $primary
      border-radius: 4px
      border: none
      outline: none
      cursor: pointer
      color: $light

    &-offer
      position: absolute
      top: 26px
      left: 0
      font-style: normal
      font-weight: 600
      font-size: 8px
      line-height: 10px
      padding: 4px 10px 4px 9px
      background-color: $primary
      color: $light
      border-radius: 0px 4px 4px 0px
      &--1
        font-style: normal
        font-weight: 600
        font-size: 12px
        line-height: 15px
        padding: 9px 22px 6px 12px